#ub {
    width: 150px;
    padding-top: 30px;
}

#activ {
    float:right;
}

#activSpaces{
    width: 150px;
    padding-top: 20px;
}

#sponsor{
    padding-top: -133%;
}

#gdg{
    width: 260px;
}
